<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubweb</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <div class="header">
            <a tabindex="1" href="#" class="logo"><img src="./img/logo.png" alt="logo">Clubweb</a>
            <div class="header__nav">
                <button class="dropbtn"><img src="./img/menu.png" alt="img"></button>
                <nav>
                    <ul class="nav">
                        <li tabindex="2" class="nav-item"><a class="nav-link" href="#">Features</a></li>
                        <li tabindex="3" class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                        <li tabindex="" class="nav-item"><a class="nav-link" href="#">Learn</a></li>
                        <li><button tabindex="5" class="type1 header__btn" type="button">Join Clubwebers</button></li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </header>

    <main>

<!--scrren1-->

        <section class="screen1">
            <div class="screen1__container">
                <h1 tabindex="6">Get a customized <span>website</span> for your business and brand.</h1>
                <p tabindex="7">You need a brand yes. You need a website. Get someone to create. Relax and Chill</p>
                <div class="button">
                    <button tabindex="8" class="type2" type="button">Get started</button>
                    <button tabindex="9" class="type1" type="button">Get featured</button>
                </div>
            </div>
            <figure class="screen1__picture">
                <img src="./img/img1.png" alt="Nike Air Edge 270">
            </figure>

        </section>

<!--screen2-->

        <section class="screen2">
            <header>
                <h4 tabindex="10">Let us build a website with your ideas</h4>
                <h6  tabindex="11">Get website developers to create your  marketing website and portfolio faster</h6>
            </header>
            <div class="card__container">
                <div class="card card1">
                    <img class="card1__star1" src="./img/screen2/card1el1.svg" alt="star">
                    <img class="card1__star2" src="./img/screen2/card1el1.svg" alt="star">
                    <div class="card__img"><img src="./img/screen2/card1.svg" alt="E-commerce website"></div>
                    <h6 tabindex="12">E-commerce website</h6>
                    <p>Engage a developer to create a customized e-commerce site at low cost</p>
                </div>
                <div class="card card2">
                    <div class="card__img"><img src="./img/screen2/card2.svg" alt="Portfolio website"></div>
                    <h6 tabindex="13">Portfolio website</h6>
                    <p>A portfolio website is a profile website by nature, so this is the place to get a deveoper</p>
                </div>
                <div class="card card3">
                    <div class="card__img"><img src="./img/screen2/card3.svg" alt="Marketing website"></div>
                    <h6 tabindex="14">Marketing website</h6>
                    <p>This is a website created with lot of marketing advantage. Do you have one?</p>
                </div>
            </div>

            <div class="tool__container">
                <h4 tabindex="15">Choose any tool of your choice</h4>
                <p  tabindex="16">Webflow, bubble, vue and react + 5 other development tools for your website</p>
                <img class="img1" src="./img/screen2/w.svg" alt="Webflow icon">
                <img class="img2" src="./img/screen2/bootstrap.svg" alt="Bubble icon">
                <img class="img3" src="./img/screen2/ellipse1.svg" alt="React icon">
                <img class="img4" src="./img/screen2/css.svg" alt="CSS icon">
                <img class="img5" src="./img/screen2/v.svg" alt="VueJS">
                <img class="img6" src="./img/screen2/html.svg" alt="HTML icon">
                <img class="img7" src="./img/screen2/js.svg" alt="Java script icon">
                <img class="img8" src="./img/screen2/pyton.svg" alt="Pyton icon">   
            </div>

        </section>

<!--screen3-->

        <section class="screen3">
            <header>
                <h4 tabindex="17">Featured Developers</h4>
                <h6 tabindex="18">Use our featured developers for your web projects</h6>
            </header>
            <div class="scr3__cards__container">

                <div class="scr3__card card1">
                    <img src="./img/screen3/rectangle1.png" alt="">
                    <figure class="scr3__card__bottom">
                        <h6 tabindex="19">Agbama Ulimhuka</h6>
                        <div>
                            <span>Webflow developer</span>
                            <a href="#"><img src="./img/screen3/vector.png" alt="massage icon"></a>
                        </div>
                    </figure>
                </div>

                <div class="scr3__card card2">
                    <img src="./img/screen3/rectangle2.png" alt="">
                    <figure class="scr3__card__bottom">
                        <h6 tabindex="20">Surita Patnam</h6>
                        <div>
                            <span>Bubble developer</span>
                            <a href="#"><img src="./img/screen3/vector.png" alt="massage icon"></a>
                        </div>
                    </figure>
                </div>

                <div class="scr3__card card3">
                    <img src="./img/screen3/rectangle3.png" alt="">
                    <figure class="scr3__card__bottom">
                        <h6 tabindex="21">Richard Bomaventure</h6>
                        <div>
                            <span>React.js developer</span>
                            <a href="#"><img src="./img/screen3/vector.png" alt="massage icon"></a>
                        </div>
                    </figure>
                </div>

                <div class="scr3__card card4">
                    <img src="./img/screen3/rectangle4.png" alt="">
                    <figure class="scr3__card__bottom">
                        <h6 tabindex="22">Elliana James</h6>
                        <div>
                            <span>Vue.js developer</span>
                            <a href="#"><img src="./img/screen3/vector.png" alt="massage icon"></a>
                        </div>
                    </figure>
                </div>

                <div class="scr3__card card5">
                    <img src="./img/screen3/rectangle5.png" alt="">
                    <figure class="scr3__card__bottom">
                        <h6 tabindex="23">Richard Bomaventure</h6>
                        <div>
                            <span>React.js developer</span>
                            <a href="#"><img src="./img/screen3/vector.png" alt="massage icon"></a>
                    </div>
                    </figure>
                </div>

                <div class="scr3__card card6">
                    <img src="./img/screen3/rectangle6.png" alt="">
                    <figure class="scr3__card__bottom">
                        <h6 tabindex="24">Samuel Oghenakaro</h6>
                        <div>
                            <span>Webflow developer</span>
                            <a href="#"><img src="./img/screen3/vector.png" alt="massage icon"></a>
                        </div>
                    </figure>
                </div>

            </div>
            <div class="button"><button tabindex="25" class="type2" type="button">Get featured</button></div>
            
        </section>

<!--screen4-->

        <section class="screen4">

            <header>
                <h4 tabindex="26">Message from users</h4>
                <p tabindex="27">Read what they say about clubweb, our users have the say</p> 
            </header>
            <div class="scr4__cards__container">

                <div class="scr4__card card1">
                    <p tabindex="28">With clubweb i got a business website within 24hrs. This made a lot of sales while at home. I am happy to have found you guys early. Thanks</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el1.png" alt="icon">
                        <h6>Adebanjo Oludare</h6> 
                    </div>
                </div>

                <div class="scr4__card card2">
                    <p tabindex="29">I can’t dream of a better website development service provider like clubweb. Fast, simple and easy UI. I got a job because of the portfoilio website you made for me</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el2.png" alt="icon2">
                        <h6>Diana Bartholomeum</h6>   
                    </div>    
                </div>

                <div class="scr4__card card3">
                    <p tabindex="30">Thanks to Clubweb, i learnt how to build a website with their learn website plan and i got employed as a webflow developer. Thanks</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el3.png" alt="icon3">
                        <h6>Simeon Neto</h6>  
                    </div>
                </div>

                <div class="scr4__card card4">
                    <p tabindex="31">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis, nec at odio eget. Pharetra, adipiscing turpis nibh amet. Risus orci a in adipiscing amet integer.</p>
                    <figure class="scr4__card-bottom">
                        <img src="./img/screen4/el4.png" alt="icon4"> 
                        <figcaption>Victoria Roberts</figcaption>        
                    </figure>
                </div>

                <div class="scr4__card card5">
                    <p tabindex="32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu ultrices scelerisque quam sed pharetra. Egestas sem mattis et etiam eget in. Ultrices quis eu.</p>  
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el5.png" alt="icon5"> 
                        <h6>Victoria Roberts</h6>  
                    </div>
                   
                </div>

                <div class="scr4__card card6">
                    <p tabindex="33">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget sapien volutpat in cras faucibus. Feugiat rhoncus dolor egestas mauris proin. Gravida vel tempus.</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el6.png" alt="icon6"> 
                        <h6>Human Rabbit Club</h6>   
                    </div>
                </div>

                <div class="scr4__card card7">
                    <p tabindex="34">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis, nec at odio eget. Pharetra, adipiscing turpis nibh amet. Risus orci a in adipiscing amet integer.</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el7.png" alt="icon7">  
                        <h6>Lucas Anderson</h6>                        
                    </div>
                </div>

                <div class="scr4__card card8">
                    <p tabindex="35">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu ultrices scelerisque quam sed pharetra. Egestas sem mattis et etiam eget in. Ultrices quis eu.</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el8.png" alt="icon8"> 
                        <h6>Ricardo Perreira</h6>                        
                    </div>
                </div>

                <div class="scr4__card card9">
                    <p tabindex="36">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget sapien volutpat in cras faucibus. Feugiat rhoncus dolor egestas mauris proin. Gravida vel tempus.</p>
                    <div class="scr4__card-bottom">
                        <img src="./img/screen4/el9.png" alt="icon9"> 
                        <h6>Cherry Oludare</h6>                       
                    </div>
                </div>

            </div>

            <div class="scr4__big-img">
                <h5>Enjoy Life<br>
                    Your website is ready</h5>
                <p>While you chill, we build everything you need</p>
            </div>

        </section>

<!--screen5-->

        <section class="screen5">

            <div class="scr5__container">
                <h4 tabindex="37">Do you want to be a clabweber?</h4>
                <h6 tabindex="38">Be part of an exciting commynity off website developers</h6>   
                <button tabindex="39" type="button">Join clabweb</button>
            </div>

        </section>

    </main>
<!--footer-->

        <footer>
            <div class="footer__container">
                <a tabindex="40" class="left" href="#">Privacy policy</a>
                <ul class="center">
                    <li><a tabindex="41" class="link1" href="https://www.facebook.com/" target="_blank"></a></li>
                    <li><a tabindex="42" class="link2" href="https://twitter.com/" target="_blank"></a></li>
                    <li><a tabindex="43" class="link3" href="https://www.linkedin.com/" target="_blank"></a></li>
                    <li><a tabindex="44" class="link4" href="https://www.instagram.com/" target="_blank"></a></li>
                </ul>
                <a tabindex="45" class="right" href="#">Clubwebs</a>
            </div>
        </footer>

</body>
</html>